<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/MazeLogo.png"/>
        <span id="welcomeHeader">Bienvenue sur Mazecity</span>
        <span id="welcomeDescription">Découvrez un monde rempli d'opportunités ou vous pouvez réaliser tous vos rêves. Envie de devenir le chef de la police de Mazecity où le plus grand brigand de l'histoire avec des milliers de braquages a votre actif ? Choisissez votre cote de la loi et lancez-vous dans ce monde moderne ! La réussite est à votre porte et n'attends que vous.
        </span>
        <br>
        <span id="welcomeDescCTA">Vous etes a deux doigts de rentrer dans l'univers de Mazecity.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>